// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    // @media (max-width: $breakpoint1450) {
    //     max-width: 1200px;
    // }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
        padding: 0 55px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body Locked
body {
    font-family: 'Roboto',sans-serif;
    color: $bgColor;

    background: $mainTextColor;
    // background-image: url(../img/background.jpg);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    &.locked {
        overflow: hidden;
    }
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.btn{
    padding: 10px;
    background-color:$bgColor;
    border: 2px solid #E6E8EC;
    box-sizing: border-box;
    border-radius: 90px;
    
    &:hover{
        background-color: $mainTextColor;
        color: $bgColor;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color  250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    }
}