.hero {
  // .hero__title
  padding: 120px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  background-image: url(../img/hero_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: $mainTextColor;
    margin-bottom: 26px;
  }

  // .hero__text

  &__text {
    max-width:400px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: $secondTextColor;
    margin-bottom: 26px;
  }

  // .hero__image

  &__image {
    width: 1437px;
    max-width: 100%;
    margin: 0 auto;
  }
}
